<%- include ("./static/header") %>
    <%- include ("./static/sidebar") %>
        <%- include ("./static/navbar") %>


            <div class="col-xl-12 jumbotron jumbotron-fluid animated bounceInDown bg-transparent jumbotronBg">
                <div class="container">
                    <img src="/img/TristoneLogo.png" class="img-logo rounded mx-auto d-block" alt="Tristone Flowtech">
                    <h1 class="display-4 text-center csvTitulo">Solicitud de Tiempo Extra</h1>
                    <p class="lead text-center"></p>
                </div>
            </div>
            <div class="container">

                <div class="card-header text-white bg-dark ">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Semana</label>
                                <div>
                                    <input type="text" class="form-control text-center week-picker" name="week" id="week">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Motivo</label>
                                <select class="form-control text-center" id="selectMotivo">
                                    <option value="">Seleccionar</option>
                                    <option value="Retrabajo">Retrabajo</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="startDate" id="startDate" placeholder="YYYY-MM-DD" value="" hidden >
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="endDate" id="endDate" placeholder="YYYY-MM-DD" value="" hidden >
                        </div>
                    </div>

                </div>

                <div class=" mt-4 text-center">
                    <button id="btnAgregar" class="btn btn-success"
                        onClick="send()"><span class="fas fa-paper-plane"></span> Enviar Solicitud</button>
                </div>

            </div>
            <div class="container-fluid">
                <div class="table-responsive mt-2">
                    <div class="containerTable">
                        <div class="table table-responsive" id="table">
                            <table id="table2" class="table table-bordered table-striped table-sm hover text-center">
                                <thead class="thead-dark">

                                    <th width="1%"><span></span> Empleado</th>
                                    <th width="20%"><span></span> Nombre</th>
                                    <th width="5%"><span></span> Turno</th>
                                    <th width="4%"><span></span> L</th>
                                    <th width="4%"><span></span> M</th>
                                    <th width="4%"><span></span> Mc</th>
                                    <th width="4%"><span></span> J </th>
                                    <th width="4%"><span></span> V</th>
                                    <th width="4%"><span></span> S</th>
                                    <th width="4%"><span></span> D</th>
                                    <th width="4%"><span></span>x2</th>
                                    <th width="4%"><span></span>x3</th>
                                    <th width="4%"><span></span> D.L</th>
                                    <th width="10%"><span></span> Area Actual</th>
                                    <th  width="15%"><span></span> Area a Laborar</th>
                                    <th  width="15%"><span></span>Jefe</th>
                                    <th  width="15%" hidden><span></span></th>

                                </thead>

                                <tbody>
                                    <tr>
                                       <td><input class="empleado" id="e1" style="width: 100%;" type="text" onkeyup="getInfoEmpleado(this)"></td>
                                       <td><input class="nombre" id="n1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="turno" id="tu1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="lunes" id="l1" style="width: 100%;" type="number"></td>
                                       <td><input class="martes" id="m1" style="width: 100%;" type="number"></td>
                                       <td><input class="miercoles" id="mc1" style="width: 100%;" type="number"></td>
                                       <td><input class="jueves" id="j1" style="width: 100%;" type="number"></td>
                                       <td><input class="viernes" id="v1" style="width: 100%;" type="number"></td>
                                       <td><input class="sabado" id="s1" style="width: 100%;" type="number"></td>
                                       <td><input class="domingo" id="d1" style="width: 100%;" type="number"></td>
                                       <td><input class="textra" id="te1" style="width: 100%;" type="text" ></td>
                                       <td><input class="textra2" id="tem1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="dlaborado" id="dl1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="actual" id="a1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="laborar" id="l1" style="width: 100%;" type="text"></td>
                                       <td><input class="jefe" id="je1" style="width: 100%;" type="text" disabled></td>
                                       <td><input class="jefeid" id="jeid1" style="width: 100%;" type="text" hidden></td>         
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <button id="btnAgregar" class="btn btn-success"
                        onClick="agregar()"><span class="fas fa-plus"></span> Agregar</button>
                </div>

            </div>

       









<%- include ("./static/footer") %>
<script src="/js/functions/solicitud.js"></script>