<div class="modal fade bd-example-modal-xl" id="modalGuia" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-body">

            <iframe  id="PDF" title="PDF" src="/manual/<%=manual%>" frameborder="1" scrolling="auto" height="800" width="100%"></iframe>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnCerrar"
                data-dismiss="modal">Cerrar</button>
        </div>
        <input type="text" class="form-control" name="midplan" id="midplan" aria-describedby="helpId"
            value="" hidden>
        </form>

    </div>
</div>
</div>