<!-- Page Content -->

<div id="page-content-wrapper">
 
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-80 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="btnNavbar btn btn-info fas fa-angle-double-left" id="menu-toggle"></button>
        </li>
 
      </ul>
    </div>
 
    <div class="mx-auto order-0">
    
      <span class="mr-2 d-none d-lg-inline text-gray-600 small text-info"><i
          class="far fa-user-circle fa-lg fa-fw mr-2 text-gray-600"></i><%= user %> </span>
    </a>

    </div>
 
    
  </nav>